body {
  background-color: #dddddd;
}

#reloj {
  font-family: sans-serif;
  text-shadow: 0px 0px 1px #333;
  color: #fff;
  margin: 0 auto;
}

.reloj-contenedor {
  background-color: rgba(12, 167, 206, 0.331);
  padding: 0 1.5rem 1.5rem;
  max-width: 24rem;
  text-align: center;
  border-radius: 0 0 0.75rem 0.75rem;
  margin: 0 auto;
  display: block;
}

#hora {
  font-size: 3rem;
  margin: 0 auto;
  max-width: 99%;
}

#fecha {
  padding-top: 5%;
  letter-spacing: 0.5rem;
  font-size: 1.2rem;
}

/* .animar {
  border: rgb(0, 0, 0) 2px solid;
} */

.container {
  background-color: rgba(12, 167, 206, 0.331);
  padding: 1.5rem;
  max-width: 24rem;
  text-align: center;
  border-radius: 0.75rem 0.75rem 0 0;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.img-container {
  max-width: 99%;
}

.image {
  max-width: 90%;
  opacity: 0.75;
  align-content: space-around;
  border-radius: 5rem;
  /* overflow: hidden; */
}

/* 
#hora {
    max-width: 85%;
} */
